.formContainer {
  margin: 5rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 500px;
  box-shadow: 0 2px 4px rgba(241, 240, 240, 0.877);
}
.heading {
  color: white;
}
.labels {
  color: #ccc;
  margin-top: 4px;
}
.button {
  padding: 8px 20px;
  background-color: #97c584;
  border: 2px solid #97c584;
  border-radius: 4px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  color: black;
  margin-top: 8px;
}
.button:hover {
  background-color: black;
  border: 2px solid #97c584;
  color: #97c584;
  cursor: pointer;
  transition: 0.3s ease;
}
