.parent_project {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 370px;
  width: 100%;
}
.sub_project {
  max-width: 32.33%;
}
.video1 {
  width: 100%;
}
.video2 {
  width: 100%;
}
.video3 {
  width: 100%;
}
.projectheading {
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
}
.project_name {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
}
.project_description {
  color: rgb(163, 162, 162);
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (max-width: 778px) {
  .parent_project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
  }
  .sub_project {
    max-width: 100%;
    padding: 20px 2px;
  }
  .projectheading {
    font-size: 3rem;
    text-align: center;
  }
}
