.projectMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}
.projectNumberHeading {
  color: white;
  text-align: center;
  max-width: 700px;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}
.projectSubHeading {
  color: rgb(163, 162, 162);
  text-align: center;
  max-width: 700px;
  font-size: 20px;
}
.numberOfProject {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  width: 100%;
}
.subProjectNumber {
  padding: 2px 2rem;
}
.subProjectNumber h2 {
  color: #97c584;
  text-align: center;
}
.subProjectNumber p {
  text-align: center;
  color: rgb(163, 162, 162);
  font-size: 17px;
}
@media screen and (max-width: 750px) {
  .projectNumberHeading {
    text-align: start;
    padding: 0 20px;
    font-size: 3rem;
  }

  .projectSubHeading {
    font-size: 24px;
    text-align: start;
    padding: 0 20px;
  }

  .subProjectNumber p {
    text-align: center;
    color: rgb(163, 162, 162);
    font-size: 20px;
  }
}
@media screen and (max-width: 800px) {
  .numberOfProject {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    flex-wrap: wrap;
    width: 100%;
  }
  .subProjectNumber {
    margin-top: 1.5rem;
  }
}
