.projectMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
.projectNumberHeading {
  color: white;
  text-align: center;
  max-width: 700px;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.projectSubHeading {
  color: rgb(163, 162, 162);
  text-align: center;
  max-width: 700px;
  font-size: 20px;
}
.numberOfProject {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  max-width: 100%;
}
.subProjectquality {
  max-width: 22%;
}
.subProjectquality h2 {
  color: #97c584;

  font-size: 20px;
}
.subProjectquality p {
  color: rgb(163, 162, 162);
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  .numberOfProject {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    flex-direction: column;
  }
  .subProjectquality {
    max-width: 100%;
    padding: 0 15px;
  }
  .projectNumberHeading {
    text-align: start;
    padding: 0 20px;
    font-size: 2rem;
  }

  .projectSubHeading {
    font-size: 19px;
    text-align: start;
    padding: 0 15px;
  }
}
