.logo {
  font-size: 2rem;
  font-weight: 400;
  color: #97c584;
  align-items: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: black;
  align-items: center;
  padding: 0 1rem;
}

.menu_icon {
  display: none;
}

.nav_element ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.nav_element ul li {
  padding: 4px 8px;
}
.nav_element ul li:hover {
  background-color: #97c584;
  color: black;
  border-radius: 2px;
  transition: 0.3s ease-in;
}
.nav_element ul li:not(:last-child) {
  margin-right: 50px;
}

.nav_element ul a {
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.nav_element ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav_element ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .nav_element ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu_icon {
    display: block;
    cursor: pointer;
    color: white;
  }
  .navbar {
    padding: 0 2rem;
  }
  .nav_element {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #97c584;
    width: 0px;
    color: black;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 99999;
  }
  .nav_element ul a {
    color: black;
    font-weight: 500;
    font-size: 1rem;
  }

  .nav_element.active {
    width: 270px;
  }

  .nav_element ul {
    display: flex;
    flex-direction: column;
  }

  .nav_element ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
