.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: white;
  font-weight: 700;
  font-size: 30px;
}
.logo:hover {
  color: white;
}
.navlinks {
  color: rgb(204, 197, 197);
  font-weight: 400;
  font-size: 16px;
}
.navlinks:hover {
  color: white;
  border-radius: 4px;
}
.hamburger {
  color: white;
}
.hamburgerparent {
  padding: 2px 6px;
  border: 2px solid white;
}
.responsive-navbar-nav {
  background-color: white; /* Change background to white */
  color: black; /* Change text color to black */
  z-index: 9999; /* Adjust z-index as needed */
}
